<div *ngIf="response$ | async as response; else getAmountPages">
    <div class="searchModule">
    <input class="searchInput" type="text" placeholder="Search character" [formControl]="request">
    <div *ngIf="requestChanges$ | async">
        <div *ngIf="search$ | async as search">
            <div class="searchResults" *ngIf="search.length">
                <div class="searchResult" *ngFor="let character of search">
                    <a [routerLink]="['/characters', character | parseIdFromUrl]">{{character.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div *ngIf="(loadedNeed$ | async) === (loadedNow$ | async); else loading">
        <div class="list">
            <app-character *ngFor="let character of (list$ | async)! | sortingCharacters" [character]="character">
            </app-character>
        </div>

        <nav class="navigation">
            <button [disabled]="+currentPage == 1" [routerLink]="['/characters']" [queryParams]="{page: 1}">
                First
            </button>
            <button [disabled]="+currentPage == 1" [routerLink]="['/characters']"
                [queryParams]="{page: +currentPage-1}">
                Prev page
            </button>
            <div class="pages" *ngFor="let page of avialablePages">
                <button
                    class="page"
                    [disabled]="+currentPage == +page"
                    *ngIf="page > +currentPage-3 && page < +currentPage+3"
                    [routerLink]="['/characters']"
                    [queryParams]="{page: +page}"
                    >
                    {{page}}</button>
            </div>

            <button [disabled]="+currentPage == maxPages" [routerLink]="['/characters']" [queryParams]="{page: +currentPage+1}">
                Next page
            </button>
            <button [disabled]="+currentPage == maxPages" [routerLink]="['/characters']" [queryParams]="{page: +maxPages}">
                Last
            </button>
        </nav>
    </div>
</div>

<ng-template #getAmountPages>
    <p class="loading">Conneting to server...</p>
</ng-template>
<ng-template #loading>
    <p class="loading">Loading... {{loadedNow$ | async}} of {{loadedNeed$ | async}}</p>
</ng-template>