header {
    background-color: var(--mikado-yellow);
}

section {
    text-align: center;
}

a {
    font-size: 16px;
    font-weight: bold;
    color: var(--rich-black);
    text-decoration: none;
    display: inline-block;
    padding: 14px;
    border: 3px solid var(--mikado-yellow);
    border-radius: 15px;

    &:hover {
        background-color: var(--gold-web-golden);
    }
}

.links {
    text-align: center;
}

.active {
    background-color: var(--oxford-blue);
    border: 3px solid var(--mikado-yellow);
    border-radius: 15px;
    color: white;

    &:hover {
        background-color: var(--prussian-blue);
    }
}