<div *ngIf="!errorCatch; else error">
    <div *ngIf="response$ | async as response; else loading" class="wrapper">
        <section class="section-info" *ngIf="movie.posterObservable | async as posterObservable">
            <img class="film-img" [src]="'https://image.tmdb.org/t/p/w500'+posterObservable">
            <div class="film-name">{{movie.title}}</div>
            <div class="film-info">
                <div class="split">
                    <div class="property-names">
                        Director:
                    </div>
                    <div class="property-values">
                        {{movie.director}}
                    </div>
                </div>
                <div class="split">
                    <div class="property-names">
                        Producer:
                    </div>
                    <div class="property-values">
                        {{movie.producer}}
                    </div>
                </div>
                <div class="split">
                    <div class="property-names">
                        Release date:
                    </div>
                    <div class="property-values">
                        {{movie.release_date}}
                    </div>
                </div>
            </div>
        </section>
        <section class="section-opening">
            <div class="section-name">Opening</div>
            <div class="opening-text">
                {{movie.opening_crawl}}
            </div>
        </section>
        <section class="section-characters">
            <div class="section-name">Characters</div>
            <div class="characters-list">
                <div class="character-item" *ngFor="let character of response">
                    <a [routerLink]="['/characters', character | parseIdFromUrl ]" class="card">
                        <div class="name">
                            <p>{{character.name}}</p>
                        </div>
                        <img [src]="imagesUrl+'/characters/'+ (character | parseIdFromUrl) +'.jpg'">
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>


<ng-template #loading>
    <p class="loading">loading...</p>
</ng-template>
<ng-template #error>
    <p class="error">This movie does not exist</p>
    <a class="goBack" [routerLink]="['/movies']">Go back</a>
</ng-template>