<div *ngIf="!errorCatch; else error">
    <div *ngIf="movie; else loading" class="wrapper">
        <section class="section-info">
            <img class="film-img" [src]="'https://image.tmdb.org/t/p/w500'+ movie.results[0].poster_path"
                *ngIf="movie.results">
            <div class="film-name">{{movie.title}}</div>
            <div class="film-info">
                <div class="split">
                    <div class="property-names">
                        Director:
                    </div>
                    <div class="property-values">
                        {{movie.director}}
                    </div>
                </div>
                <div class="split">
                    <div class="property-names">
                        Producer:
                    </div>
                    <div class="property-values">
                        {{movie.producer}}
                    </div>
                </div>
                <div class="split">
                    <div class="property-names">
                        Release date:
                    </div>
                    <div class="property-values">
                        {{movie.release_date}}
                    </div>
                </div>
            </div>
        </section>
        <section class="section-opening">
            <div class="section-name">Opening</div>
            <div class="opening-text">
                {{movie.opening_crawl}}
            </div>
        </section>
        <section class="section-characters">
            <div class="section-name">Characters</div>
            <div class="characters-list">
                <div class="character-item" *ngFor="let character of characters">
                    <a [routerLink]="['/character', character.url.slice(29, -1)]" class="card">
                        <div class="name">
                            <p>{{character.name}}</p>
                        </div>
                        <img
                            [src]="'https://starwars-visualguide.com/assets/img/characters/'+character.url.slice(29, -1)+'.jpg'">
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>


<ng-template #loading>
    <p class="loading">loading...</p>
</ng-template>
<ng-template #error>
    <p class="error">This movie does not exist</p>
    <a class="goBack" [routerLink]="['/movies']">Go back</a>
</ng-template>