@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --rich-black: #000814;
    --oxford-blue: #001D3D;
    --prussian-blue: #003566;
    --mikado-yellow: #FFC300;
    --gold-web-golden: #FFD60A;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: var(--oxford-blue);
}

.loading, .error{
    margin-top: 30px;
    font-size: 30px;
}
.goBack{
    display: block;
    width: 150px;
    margin: 30px auto auto auto;
    padding: 10px;
    font-size: 30px;
    border-radius: 4px;
    background-color: var(--mikado-yellow);
    text-decoration: none;
    color: var(--rich-black);
    &:hover{
        background-color: var(--gold-web-golden);
    }
}